@model AppServiceConfiguration
@{
    ViewData["Title"] = "App Migration Accelerator";
}
@{
    var zipfilename = TempData["zipFile"];
    var gitRepo = TempData["gitRepo"];
    }
<b>Collect Application Details</b>
<div class="text-center">
    @using (Html.BeginForm("AppInformation", "Home", FormMethod.Post))
    {
        <table border="0" style="width:1020px;">
            <tr>
                <td align="left" style="height:26px;" valign="top">
                    Existing Application Framework/Runtime:
                    <p style="margin-left:26px;">
                        @Html.RadioButton("appFramework", ".Net Framework 4.5", new { Checked = "checked", id = "appFramework_.net45" })
                        @Html.Label("appFramework_.net45", ".Net Framework 4.5")<br />
                        @Html.RadioButton("appFramework", ".Net Core", new { id = "appFramework_.netCore" })
                        @Html.Label("appFramework_.netCore", ".Net Core")<br />
                        @Html.RadioButton("appFramework", "Java", new { id = "appFramework_java" })
                        @Html.Label("appFramework_java", "Java")<br />
                        @Html.RadioButton("appFramework", "PHP", new { id = "appFramework_php" })
                        @Html.Label("appFramework_php", "PHP")<br />
                        @Html.RadioButton("appFramework", "Python", new { id = "appFramework_python" })
                        @Html.Label("appFramework_python", "Python")<br/>
                        @Html.RadioButton("appFramework", "Node", new { id = "appFramework_node" })
                        @Html.Label("appFramework_node", "Node")
                    </p>
                </td>
                <td align="left" style="height:26px;" valign="top">
                    Deployment Option
                    <p style="margin-left:26px;">
                        @Html.RadioButton("deployment", "Zip", new { id = "deployment_Zip", @class = "deployment" })
                        @Html.Label("deployment_Zip", "Zip")&nbsp;&nbsp;
                        @if (zipfilename == null)
                        {
                            <input id="submit" type="button" value="UploadZip" onclick="location.href='@Url.Action("_fileUploadForm", "Home", new { id = 1 })'"
                                   style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />
                        }
                        else
                        {
                            <input id="submit" type="button" value='@zipfilename.ToString()' onclick="location.href='@Url.Action("_fileUploadForm", "Home", new { id = 1 })'"
                                   style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />
                            @Html.Hidden("zipFile", @TempData["zipFile"])
                        }<br />
                        @Html.RadioButton("deployment", "FTP", new { id = "deployment_FTP", @class = "deployment" })
                        @Html.Label("deployment_FTP", "FTP")<br />
                        @Html.RadioButton("deployment", "LocalGit", new { id = "deployment_LGIT", @class = "deployment" })
                        @Html.Label("deployment_LocalGit", "LocalGit")<br />
                        @Html.RadioButton("deployment", "GitRepo", new { id = "deployment_GIT", @class = "deployment" })
                        @Html.Label("deployment_GIT", "GitRepo")
                        <input id="gitRepoUrl" name="gitRepoUrl" type="text" value="https://github.com/Azure-Samples/aci-helloworld.git" style="visibility:hidden" />
                        <br />
                        @Html.RadioButton("deployment", "AzureDevOps", new { id = "deployment_AzDevOps", @class = "deployment" })
                        @Html.Label("deployment_AzureDevOps", "AzureDevOps")<br />
                        @Html.RadioButton("deployment", "ContiniousDeployment", new { id = "deployment_continious", @class = "deployment" })
                        @Html.Label("deployment_continious", "ContiniousDeployment")<br />
                        @Html.RadioButton("deployment", "Template", new { id = "deployment_template", @class = "deployment" })
                        @Html.Label("deployment_template", "Template")
                        <input id="createTemplate" type="button" value='Create Template' onclick="location.href='@Url.Action("Tier1Configuration", "Template", new { id = 1 })'"
                               style="border:0px;background:transparent;text-decoration:none;cursor:pointer;visibility:hidden" />
                        <br />
                    </p>
                </td>
                <td align="left" style="height:26px;" valign="top">
                    Containerize Your Application
                    <p style="margin-left:26px;">
                        @Html.RadioButton("container", "Windows", new { id = "container_Windows", @class = "containerApp" })
                        @Html.Label("container_Windows", "Windows")<br />
                        @Html.RadioButton("container", "Linux", new { id = "container_Linux", @class = "containerApp" })
                        @Html.Label("container_Linux", "Linux")
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="3">
                    <input id="submit" type="submit" value="Next" style="border:0px;background:transparent;text-decoration:none;cursor:pointer;" />
                </td>
            </tr>
        </table>

    }
  @section Scripts {
        <script type="text/javascript">
            var zipFile = "@zipfilename";
            $(function () { //Same as $(document).ready()
                if (zipFile != '') {
                    $('#deployment_Zip').attr("Checked","checked");
                    }
                    else {
                        //console.log("the forms info is not valid");
                }

                $(document).on("click", ".deployment", function () {
                    if ($('#deployment_GIT').is(':checked')) {
                        document.getElementById("gitRepoUrl").style.visibility = 'visible';
                    }
                    else {
                        document.getElementById("gitRepoUrl").style.visibility = 'hidden';
                    }
                    if ($('#deployment_template').is(':checked')) {
                        document.getElementById("createTemplate").style.visibility = 'visible';

                    }
                    else {
                        document.getElementById("createTemplate").style.visibility = 'hidden';
                    }
                });
            });

        </script>
    }
</div>